.link {
  text-decoration: none;
  color: rgb(240, 238, 238);
  display: inline-block;
  padding: 10px 15px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.link.active {
  font-weight: bold;
}
